@import "tailwindcss";
@import "tw-animate-css";
/* @layer theme, base, components, utilities; */


@theme {

  /* Container config */
  --container-padding: 15px;

  /* Font config */
  --font-jetbrains: "JetBrains Mono", monospace;

  /* Color config */
  --color-primary: #ff004f;

  --color-bg-dark: #000000;
  --color-bg-light: #ffffff;

  --color-text-dark: #ffffff;
  --color-text-light: #000000;

  --color-accent: #1f1f1f;
  --color-accent-hover: #333333;
  --color-nav-muted-dark: #9ca3af; /* text-gray-400 */
--color-nav-muted-light: #4b5563; /* text-gray-600 */
--color-text-muted: var(--color-text-muted-dark);
--color-text-muted-light: rgba(0, 0, 0, 0.7);






  /* Breakpoint config */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  

}

@layer base {
  html {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
    color-scheme: dark;
    --color-text: var(--color-text-dark);
    --color-text-muted: var(--color-text-muted-dark); /* for dark mode */
  
    transition: background-color 0.4s ease, color 0.4s ease;
  }

  html.light {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
    color-scheme: light;
    --color-text: var(--color-text-light);
    --color-text-muted: rgba(0, 0, 0, 0.8); /* for light mode */
    --color-nav-muted: var(--color-nav-muted-light);
    transition: background-color 0.4s ease, color 0.4s ease;
  }

  body {
    font-family: var(--font-jetbrains);
    background-color: inherit;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[24px] xl:text-[32px] leading-[1.1] font-semibold;
  }
}


/*
@layer base {
  /* html{
    color-scheme: dark;
  }
  html.light{
    color-scheme: light;
  } 
  body {
    font-family: var(--font-jetbrains);
    background-color: var(--color-bg);
    color: white;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[24px] xl:text-[32px] leading-[1.1] font-semibold;
  }
}

*/